.project-title {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-size: 34px;
  color: #000;
  width: 350px;
}

input[type="number"]::-webkit-inner-spin-,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: ltl;
  font-family: "Lato", sans sarif;
}

input,
button {
  cursor: auto;
}

h1 {
  font-size: 30px;
  padding: 10px;
}

p {
  font-size: 14px;
  line-height: 26px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
  color: #c71100;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin: 15px 0;
}

button {
  border: 1px solid #dcdcdc;
  background-color: #29729e;
  color: #fff;
  font-size: 12px;
  padding: 8px 55px;
  transition: transform 80ms ease-in;
}

.btn-reg {
  background-color: #27ae60;
  margin-top: 20px;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #fff;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: rgb(232, 240, 254);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#container {
  direction: ltr;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  min-height: 480px;
  max-width: auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  right: 0;
  width: 50%;
  z-index: 2;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 100%;
  width: 200%;
  color: #fff;
  position: relative;
  left: -100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* .right-panel-active .sign-in-container {
  transform: translateX(100%);
} */

.right-panel-active .overlay {
  transform: translateX(50%);
}

.alert {
  color: rgb(255, 5, 5);
  font-weight: 500;
  padding: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 740px) {
  .seleter h2 {
    font-size: 19px;
    text-align: center;
    padding-top: 6px;
  }
}

@media only screen and (max-width: 620px) {
  .login-btn {
    flex-direction: column;
  }
  #container {
    direction: ltr;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    min-height: 440px;
    max-width: 94%;
  }
  .btn-admin {
    margin-bottom: 20px;
  }
  .fcode,
  .scode {
    display: none;
    width: 56px !important;
  }

  button {
    border: 1px solid #dcdcdc;
    background-color: #29729e;
    color: #fff;
    font-size: 9px;
    padding: 6px 40px;
    transition: transform 80ms ease-in;
  }
  span {
    font-size: 10px;
  }
  .seleter h2 {
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
  }
}

@media only screen and (max-width: 476px) {
  body {
    font-size: xx-small;
  }

  p {
    font-size: 9px;
  }

  .project-title {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 34px;
    color: #000;
    width: 350px;
  }

  .login-btn {
    flex-direction: column;
  }
  .btn-admin {
    margin-bottom: 20px;
  }

  .form input,
  #form input {
    margin-bottom: 0px;
    font-size: xx-small;
  }
  .form h1 {
    font-size: 18px;
  }

  #container {
    direction: ltr;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    min-height: 410px;
    max-width: 98%;
  }
  .fcode,
  .scode {
    display: none;
    width: 45px !important;
  }
  button {
    border: 1px solid #dcdcdc;
    background-color: #29729e;
    color: #fff;
    font-size: 8px;
    padding: 4px 14px;
    transition: transform 80ms ease-in;
  }
  span {
    font-size: 7px;
  }
  .ltitle div h3 {
    color: #ffffff;
    font-size: 18px;
  }
  .seleter h2 {
    font-size: 13px;
    text-align: center;
    padding-top: 6px;
  }
}
/* popup form */
#popup {
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.9);
}
#form {
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #212121;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  left: 50%;
  top: 10%;
  margin-left: -150px;
}
input {
  margin-bottom: 0px;
}
#close {
  font-weight: bold;
  /* margin-left: 139px;
  margin-top: -19px; */
  width: 30px;
  height: 27px;
}

#add {
  margin: 10px;
}

#web {
  display: none;
}

.button {
  transition: 0.5s;
}

.fcode,
.scode {
  display: none;
  width: 56px !important;
}
